* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    overflow-x: hidden;
}
.specific_body{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    position: fixed;
    z-index: 100;
    height: calc(100vh - 9.259vh); /* 100px */
    width: 5vw; /* 100px */
}

.horizontal_nav {
    justify-content: space-between;
    height: 9.259vh; /* 100px */
    align-items: center;
    padding: 0 2.604vw; /* 50px */
    color: #fff;
    top: 0;
    width: 100vw;
}

.vertical_nav {
    flex-direction: column;
    bottom: 0;
    left: 0;
}

.card1 {
    height: fit-content !important;
}

.logo img {
    width: 5.208vw; /* 100px */
}

.links ul {
    list-style-type: none;
    display: flex;
    width: 20.833vw; /* 400px */
    justify-content: space-between;
}

nav ul li a {
    color: currentColor;
    text-decoration: none;
}

.destaque_link {
    border: 1px solid #fff;
    padding: 0.104vw 1.042vw; /* 2px 20px */
    border-radius: 0.104vw; /* 2px */
}

.vertical_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vertical_nav ul li {
    width: 100%;
    color: #fff;
}

.vertical_nav ul li a {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.vertical_nav ul li a span {
    font-size: 36px;
}

.vertical_nav ul li a:hover,
.vertical_nav ul li a.active {
    background-color: rgba(0, 0, 0, 0.60);
}


.dashboard_header {
    margin: 100px 0 20px 100px; 
    color: rgba(0, 0, 0, 0.7);
}

.dashboard_cards {
    display: flex;
    width: 85vw;
    height: fit-content;
    justify-content: center;
    margin-left: 130px;
    gap: 30px; 
}

.dashboard_cards .left {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
}

.dashboard_cards .left .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    height: fit-content;
    flex: 1;
}

.section{
    width: 100vw;
    height: 100vh;;
}
.card1 {
    flex: 1;
    position: relative;
    box-sizing: border-box !important;
    height: 300px !important;
}

.card2 {
    max-height: 100% !important;
    flex: 3;
    padding: 10px !important;
    box-sizing: border-box !important;
    height: 300px !important;
}

.card3 {
    flex: 1;
    padding: 15px !important;
}
.card4{
    height: 100%;
}

.dashboard_cards .card {
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.dashboard_cards .right {
    flex: 4;
}

.alerts {
    display: flex;
    flex-direction: column;
    gap: 1.042vw; /* 20px */
    margin: 1.042vh 0.521vw 0 0.521vw; /* 20px 10px 0 10px */
}

.alerts .alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
}

.alert_icon {
    font-size: 18px !important;
}

.comparison {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
}

.trending_up {
    color: #ff0000;
    border: 1px solid #ff0000;
}

#COperArea {
    margin: 0 auto;
    width: 15.104vw !important;
    height: 15.104vw !important;
}

.kpi_card1 {
    position: absolute;
    bottom: 12.5vh;
    left: 6.5vw;
}

.kpi_card1 span{
    font-size: .8vw;
}

.kpi_destaque {
    color: #ff0000;
    font-weight: 600;
}

#COlineGeneral {
    margin-top: 2.604vh; /* 25px */
}

.ranking {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.042vw; /* 20px */
    box-sizing: border-box;
}

.ranking_item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ranking_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.042vh; /* 20px */
    color: #747474;
    font-weight: 600;
    font-size: 0.937vw; /* 18px */
}

.ranking_item .bar_container {
    width: 18.229vw;
    border: #d8d8d8 dashed 1px;
    height: 20px;
    flex: 4;
}

.header_comparison {
    flex: 4;
}

.bar_container .red_bar {
    background-color: #E74C3C;
    height: 100%;
}

.bar_container .yellow_bar {
    background-color: #F1C40F;
    height: 100%;
}

.bar_container .green_bar {
    background-color: #2ECC71;
    height: 100%;
}

.bar_container .blackred_bar {
    background-color: #5f0a00;
    height: 100%;
}

.area_name,
.header_area {
    width: 10.417vw; /* 200px */
    text-align: left;
    flex: 2;
}

.area_value,
.header_concentration {
    flex: 1;
}

.ranking_item .percentage,
.header_percentage {
    flex: 1;
}

.percentage.above {
    color: #E74C3C;
    font-weight: 900;
}

.dashboard_specific_cards ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 13.020vw; /* 260px */
    font-size: 1.146vw; /* 22px */
    font-weight: 600;
    color: rgba(0, 0, 0, 0.60);
    gap: 6.771vw; /* 130px */
    margin-bottom: 0.9vh; /* 10px */
}

.attention_level {
    display: flex;
    flex-direction: row;
    gap: 0.104vw; /* 5px */
}

.attention_level span {
    background-color: #bebebe;
    width: 0.521vw; /* 10px */
    height: 0.521vw; /* 10px */
    border-radius: 50%;
}

.attention_level span.marked {
    background-color: #006dac;
}

.dashboard_specific_cards {
    margin-left: 2.083vw; /* 40px */
}

.dashboard_specific_cards .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard_specific_cards .cards .card {
    width: 77.604vw;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.25s;
}
.dashboard_specific_cards .cards .card:hover {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}

.dashboard_specific_cards .cards .card .card_row{
    display: flex;
    position: relative;
    align-items: center;
    gap: 4.167vw;
    cursor: pointer;
}

.area_graph {
    width: 18.750vw !important;
    height: 7.500vh !important;
}

.cards .card img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.dashboard_specific_cards {
    padding: 0 2.604vw; /* 45px */
}

.dashboard_specific_header {
    margin-left: 10.833vw; /* 207px */
}

.card .area_name_specific {
    font-size: 1.042vw; /* 20px */
    font-weight: 600;
    color: #000;
}

.atual {
    margin-left: -2.604vw; /* -50px */
}

.variacao {
    margin-left: -5.208vw; /* -100px */
}

.dashboard_area {
    padding-bottom: 5.208vh; /* 100px */
}

.button_expand {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.button_expand span {
    font-size: 2.778vh; /* 30px */
    color: #4d4d4d;
}

.row_graphs .graph {
    display: flex;
    margin-top: 3vh;
}
.row_graphs{
    display: block !important;
}

#limitPerArea_graph,
#limitPerArea_graph2,
#limitPerArea_graph3,
#limitPerArea_graph4,
#limitPerArea_graph5,
#limitPerArea_graph6,
#limitPerArea_graph7 {
    width: 36.458vw !important;
    height: 320px !important;
    margin-top: 1vh;
}
#bubble_chart,
#bubble_chart2,
#bubble_chart3,
#bubble_chart4,
#bubble_chart5,
#bubble_chart6,
#bubble_chart7{
    width: 30vw !important;
    height: 260px !important;
    margin: 4vh 0 0 4.5vw;
    border-radius: 20px;
    border: 3px solid #00263b;
}

#expand_1,
#expand_2,
#expand_3,
#expand_4,
#expand_5,
#expand_6,
#expand_7 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#expand_1.expanded,
#expand_2.expanded,
#expand_3.expanded,
#expand_4.expanded,
#expand_5.expanded,
#expand_6.expanded,
#expand_7.expanded {
    max-height: 1300px;
}

h3{
    text-align: center;
}

.second_graph h3{
    margin-left: 4.5vw;
}

.bubble_chart_legend{
    margin-left: 4.5vw;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: #4d4d4d;
}
.row_graphs .graph_buttons button{
    background-color: #006dac;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    transition: 0.25s;
}
.graph_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.graph_buttons button:not(.clicked):hover{
    background-color: #005a8c;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}
.graph_buttons button.clicked{
    background-color: #00263b;
}
.alert_icon_specific_high{
    color: #E74C3C;
}
.alert_icon_specific_medium{
    color: #ff9900;
}
.alerts_specific{
    width: 50%;
    border-radius: 10px;
    height: 320px;
    box-sizing: border-box;
    padding: 20px;
}
.alert_specific{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    flex: 1;
}
.alert_text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.alerts_wrapper, .sensors_wrapper, .graph{
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.alerts_wrapper.selected, .sensors_wrapper.selected, .graph.selected{
    max-height: 1300px;
}
.alerts_graph{
    flex: 1;
    height: 320px;
    box-sizing: border-box;
    padding: 20px;
}
.alert_graph{
    width: 100% !important;
    height: 100% !important;
}
.sensors_graph{
    width: 100% !important;
    height: 90% !important;
}
.sensors_kpis{
    width: 50% !important;
}
.sensors_kpis h3{
    margin-left: 4.5vw;
}
.sensors_kpis_container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    width: 100%;
    justify-content: center;
}
.sensor_kpi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #006dac;
    text-align: center;
}
.sensors_graph_container, .sensors_kpis{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.sensor_kpi.normal {
    background-color: #2ECC71
}
.sensor_kpi.atencao {
    background-color: #F1C40F;
}
.sensor_kpi.alerta {
    background-color: #E74C3C;
}
.sensors_kpis_container, .sensors_graph{
    margin-top: 1vh;
}
.cadastro_container .cadastro .row{
    display: flex;
    gap: 20px;
}
.cadastro_container .cadastro .row .field{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}
.cadastro_container{
    width: 30vw;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.144);
    padding: 40px;
}
.cadastro_container .cadastro{
    width: 100%;
}
.cadastro_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cadastro_container .cadastro .row .field input,
.cadastro_container .cadastro .row .field select{
    font-size: 1rem;
    background-color: transparent;
    border: 3px solid #005a8c;
    padding: 10px;
    outline: none;
    border-radius: 7px;
}
.cadastro{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.cadastro button{
    background-color: #005a8c;
    color: #fff;
    border: none;
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
}