*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
body{
    overflow-x: hidden;
}

nav{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.logo img{
    width: 100px;
}
.links ul{
    list-style-type: none;
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.links ul li a{
    color: currentColor;
    text-decoration: none;
}
.destaque_link{
    border: 1px solid #fff;
    padding: 2px 20px;
    border-radius: 5px;
}
.banner{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/banner.png');
    background-size: 150vw;
    background-position: -30vw;
    background-repeat: no-repeat;
    background-position-y: -20vh;
    overflow: hidden;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: brightness(0.6) blur(4px);
    z-index: 0;
}

.banner > * {
    position: relative;
    z-index: 1;
}
.banner .content{
    margin: 320px 0 0 122px;
    color: #fff;
}
.banner .content h1{
    width: 400px;
    font-size: 120px;
}
.banner .content p{
    width: 700px;
    font-weight: 500;
    font-size: 30px;
}
.fade{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 193px;
    background-image: linear-gradient(to top, #fff5, #fff0);
    display: flex;
    justify-content: center;
    align-items: end;
}
.fade img{
    width: 100px;
    margin-bottom: 20px;
}
.msg{
    margin-top: 155px;
    display: flex;
    justify-content: center;
}
.msg h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 100px;
    color: rgba(31, 31, 27, 0.86);
    width: 1381px;
}
.color{
    color: #006DAC;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin: 100px 0;
}
.section .item h3, .section .item p{
    color: rgba(31, 31, 27, 0.86);
}
.section .item h3{
    width: 350px;
    font-size: 80px;
}
.section .item p{
    width: 729px;
    font-size: 26px;
}
.sub{
    text-decoration: underline;
}
.color.bold{
    font-weight: 600;
}
.card_container{
    color: #1F1F1B;
}
.card_container .cards{
    display: flex;
    justify-content: center;
    gap: 94px;
}
.card_container .cards .card{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 84px;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.card_container .cards .card .card_text{
    font-size: 22px;
    padding: 0 27px;
    text-align: center;
}
.card_container .cards .card .card_title{
    font-size: 30px;
    font-weight: 700;
}
.card_container .cards_title{
    margin: 0 0 31px 136px;
}
.card_container .cards_title h3, .card_container .cards_title h4{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgba(31, 31, 27, 0.86);
}

.card_container .cards_title h3{
    font-size: 64px;
}
.card_container .cards_title h4{
    font-size: 32px;
}